/* админка */
.wrapperRess {
    padding: 1vw 2vw 1vw 2vw;
}

.titleRess,
.wrapperRess section h1,
.wrapperRess section h2 {
    font-size: 28px;
    font-weight: 300;
    letter-spacing: -1px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #222;
    text-transform: uppercase;
}

.wrapperRess h3 {
    font-size: 15px;
}

/* Формы */
.formRess {
    background: none;
    padding: 0px;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 10px;
    width: fit-content;
    margin: 10px 0px 0px 0px;
    max-width: none;
}

.requestsRess,
.reviewRess {
    padding: 20px;
    flex-direction: column;
    background: #1f1f1f;
}

.photoActionsRess form {
    margin: 0 px;
    gap: 0px;
    padding: 0px !important;
    width: 100%;
    background: none;
}

.photoFormRess {
    background: none;
    padding: 0px !important;
    gap: 10px;
}

.photoFormRess button {
    padding: 0px;
    width: fit-content;
}

.photoFormRess input {
    padding: 5px;
}

.formRess select {
    color: black;
}

.formRess input,
.formRess textarea {
    background: transparent;
    border: 1px solid #333;
    padding: 5px;
    color: #fff;
    width: 100%;
    font-size: 14px;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}



.formRess button {
    background: #fff;
    color: #000;
    border: none;
    padding: 1px 20px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
    transition: opacity 0.3s;
}

.ulRess li {
    display: flex;
    width: fit-content;
    margin-top: 10px;
    gap: 10px;
}

.liRess {
    background: #1f1f1f;
    margin: 0px;
    padding: 0px;
}

.liRess form {
    width: fit-content;
    max-width: none;
    padding: 0px;
    margin: 0px;
    justify-content: center;
}

.formRess button:hover {
    opacity: 0.8;
}

/* Список проектов */
.listRess {
    list-style: none;
    padding: 0;
    margin-top: 50px;
}

.projectRess {
    padding: 30px;
    margin-bottom: 40px;
    border-radius: 10px;
    background: #1f1f1f;
}

.projectRess h3 {
    font-size: 22px;
    margin-bottom: 15px;
    font-weight: 400;
}

.metaRess {
    font-size: 13px;
    color: #888;
    margin-bottom: 5px;
}

.metaRess b {
    color: #fff;
}

/* Галерея изображений */
.photosRess {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 25px;
}

.photoCardRess {
    border: 1px solid #222;
    padding: 10px;
    background: #0a0a0a;
    border-radius: 8px;
}

.photoPreviewRess img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 2px;
}



.badgeRess {
    display: block;
    font-size: 10px;
    color: #FFD801;
    margin-top: 5px;
    text-transform: uppercase;
}

/* Кнопки действий внутри карточек */
.photoActionsRess {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.mainBtnRess,
.deleteBtn {
    background: transparent;
    border: 1px solid #333;
    color: #888;
    padding: 5px 10px;
    cursor: pointer;
}


/* Секция отзывов */
.review-blockRess {
    background: #1f1f1f;
    padding: 20px;
    border-radius: 2px;
    margin-bottom: 20px;
}

.review-cont span {
    display: block;
    font-size: 12px;
    color: #666;
    margin-bottom: 4px;
}



/* Чекбокс */
.checkbox-container {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: #888;
    cursor: pointer;
}

/* Кнопка удаления проекта (опасная зона) */
.danger {
    background: transparent !important;
    border: 1px solid #ff4d4d !important;
    color: #ff4d4d !important;
}

