/* ===== CSS RESET (SAFE) ===== */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

button {
  border: none;
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  overflow-wrap: break-word;
  line-height: 1.2;
  color: white;

}

ul,
li {
  margin: 0;
  list-style: none;
  color: white;
  padding: 0;
}